name: Deploy YamoHub

on:
  push:
    branches: ["production"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/lnk-app:latest .

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" |
          docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Push image
        run: docker push ghcr.io/${{ github.repository_owner }}/lnk-app:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/app
            docker-compose pull yamohub
            docker-compose up -d yamohub
